# {{ ansible_managed }}
----
-- User configuration file for lsyncd.
--
-- Simple example for default rsync, but executing moves through on the target.
--
-- For more examples, see /usr/share/doc/lsyncd*/examples/
--
settings{
    logfile = "/var/log/lsyncd.log",
    statusFile = "/tmp/lsyncd.stat",
    statusInterval = 1,
    insist = 1,
}

sync_base = {
    default.rsync,
    delete = "running",
    init = false,
    exclude={
        "/data/sha/",
        "/*/*/*.log",
    },
    rsync = {
        archive = true,
        rsh = "/usr/bin/ssh -i /home/rsync/.ssh/id_rsa -o StrictHostKeyChecking=no -p 8022"
    }
}

sync{
    sync_base,
    source="/wells/rsync",
    target = "rsync@linux-tst01:/wells/rsync",
}
