# {{ ansible_managed }}
# mongod.conf

# for documentation of all options, see:
#   http://docs.mongodb.org/manual/reference/configuration-options/

# where to write logging data.
systemLog:
  destination: file
  logAppend: true
  logRotate: reopen
  path: /var/log/mongodb/mongod.log

# Where and how to store data.
storage:
  dbPath: /var/lib/mongo
  journal:
    enabled: true
#  engine:
#  wiredTiger:

# how the process runs
processManagement:
  fork: true
  pidFilePath: /var/run/mongodb/mongod.pid
  timeZoneInfo: /usr/share/zoneinfo

# network interfaces
net:
  port: 27017
  bindIp: 127.0.0.1  # Enter 0.0.0.0,:: to bind to all IPv4 and IPv6 addresses or, alternatively, use the net.bindIpAll setting.
  tls:
    mode: requireTLS
    certificateKeyFile: {{ mongo_certificate_file_path }}
    clusterFile: /etc/ssl/mongodb-cluster.pem
    CAFile: /etc/ssl/mongo_ca.crt


security:
  authorization: enabled
  clusterAuthMode: x509

operationProfiling:
  mode: off
# slowOpThresholdMs:

replication:
  oplogSizeMB: {{ mongo_oplog_size }}
  replSetName: rs_test
  enableMajorityReadConcem: false

#sharding:

## Enterprise-Only Options

#auditLog:

#snmp:
