# {{ ansible_managed }}
apiVersion: v1
items:
{% for branch in branch_list %}
{% if branch == "tky" %}
  {%- set role_list = role_list + role_list_extra -%}
{% endif %}
{% for role in role_list %}
{% for production_tag in production_tag_list %}
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: {{ nfs_initial_path }}-share-repli-fors-data-{{ branch }}-airflow-{{ production_tag }}-dags-{{ role }}
    namespace: {{ openshift_project_name }}
  spec:
    accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  volumeName: {{ nfs_initial_path }}-share-repli-fors-data-{{ branch }}-airflow-{{ production_tag }}-dags-{{ role }}-pv
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: {{ nfs_initial_path }}-share-repli-fors-data-{{ branch }}-airflow-{{ production_tag }}-output-{{ role }}
    namespace: {{ openshift_project_name }}
  spec:
    accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Gi
  volumeName: {{ nfs_initial_path }}-share-repli-fors-data-{{ branch }}-airflow-{{ production_tag }}-output-{{ role }}-pv
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: {{ nfs_initial_path }}-share-repli-fors-cloud-data-{{ branch }}-airflow-{{ production_tag }}-dags-{{ role }}
    namespace: {{ openshift_project_name }}
  spec:
    accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
  volumeName: {{ nfs_initial_path }}-share-repli-fors-cloud-data-{{ branch }}-airflow-{{ production_tag }}-dags-{{ role }}-pv
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: {{ nfs_initial_path }}-share-repli-fors-cloud-data-{{ branch }}-airflow-{{ production_tag }}-output-{{ role }}
    namespace: {{ openshift_project_name }}
  spec:
    accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100Gi
  volumeName: {{ nfs_initial_path }}-share-repli-fors-cloud-data-{{ branch }}-airflow-{{ production_tag }}-output-{{ role }}-pv
{% endfor %}
{% endfor %}
{% endfor %}
kind: List
metadata: {}
