# {{ ansible_managed }}
apiVersion: v1
items:
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: {{ nfs_initial_path }}-wells-ope-bin
    namespace: {{ openshift_project_name }}
  spec:
    accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Ti
  volumeName: {{ nfs_initial_path }}-wells-ope-bin-pv
{% for branch in branch_list %}
{% if branch == "tky" %}
  {%- set role_list = role_list + role_list_extra -%}
{% endif %}
{% for role in role_list %}
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: {{ nfs_initial_path }}-share-repli-si-fors-data-{{ branch }}-jupyter-notebook-users-{{ role }}
    namespace: {{ openshift_project_name }}
  spec:
    accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Ti
  volumeName: {{ nfs_initial_path }}-share-repli-si-fors-data-{{ branch }}-jupyter-notebook-users-{{ role }}-pv
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: {{ nfs_initial_path }}-share-repli-si-fors-data-{{ branch }}-jupyter-notebook-roles-{{ role }}
    namespace: {{ openshift_project_name }}
  spec:
    accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Ti
  volumeName: {{ nfs_initial_path }}-share-repli-si-fors-data-{{ branch }}-jupyter-notebook-roles-{{ role }}-pv
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: {{ nfs_initial_path }}-share-non-repli-fors-data-{{ branch }}-jupyter-notebook-users-{{ role }}
    namespace: {{ openshift_project_name }}
  spec:
    accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Ti
  volumeName: {{ nfs_initial_path }}-share-non-repli-fors-data-{{ branch }}-jupyter-notebook-users-{{ role }}-pv
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: {{ nfs_initial_path }}-share-repli-fors-data-{{ branch }}-airflow-official-dags-{{ role }}
    namespace: {{ openshift_project_name }}
  spec:
    accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Ti
  volumeName: {{ nfs_initial_path }}-share-repli-fors-data-{{ branch }}-airflow-official-dags-{{ role }}-pv
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: {{ nfs_initial_path }}-share-repli-fors-data-{{ branch }}-airflow-official-output-{{ role }}
    namespace: {{ openshift_project_name }}
  spec:
    accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Ti
  volumeName: {{ nfs_initial_path }}-share-repli-fors-data-{{ branch }}-airflow-official-output-{{ role }}-pv
{% endfor %}
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: {{ nfs_initial_path }}-share-repli-si-fors-data-{{ branch }}-jupyter-notebook-common
    namespace: {{ openshift_project_name }}
  spec:
    accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Ti
  volumeName: {{ nfs_initial_path }}-share-repli-si-fors-data-{{ branch }}-jupyter-notebook-common-pv
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: {{ nfs_initial_path }}-share-repli-fors-log-{{ branch }}-jupyter-notebook-users
    namespace: {{ openshift_project_name }}
  spec:
    accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Ti
  volumeName: {{ nfs_initial_path }}-share-repli-fors-log-{{ branch }}-jupyter-notebook-users-pv
{% endfor %}
kind: List
metadata: {}
